[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The giver!
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/KyuoFoxHuyu (KyuoFoxHuyu)
	label-Verified = -1..+1 group user/KyuoFoxHuyu (KyuoFoxHuyu)
	push = group user/KyuoFoxHuyu (KyuoFoxHuyu)
	read = group user/KyuoFoxHuyu (KyuoFoxHuyu)
	rebase = group user/KyuoFoxHuyu (KyuoFoxHuyu)
	removeReviewer = group user/KyuoFoxHuyu (KyuoFoxHuyu)
	submit = group user/KyuoFoxHuyu (KyuoFoxHuyu)
[access "refs/heads/*"]
	create = group user/KyuoFoxHuyu (KyuoFoxHuyu)
	push = +force group user/KyuoFoxHuyu (KyuoFoxHuyu)
	pushMerge = group user/KyuoFoxHuyu (KyuoFoxHuyu)
	read = group user/KyuoFoxHuyu (KyuoFoxHuyu)
[access "refs/tags/*"]
	push = group user/KyuoFoxHuyu (KyuoFoxHuyu)
	push = +force group user/KyuoFoxHuyu (KyuoFoxHuyu)
